html * {
    font-family: "Georgia", "Times New Roman", "serif"; 
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000 url('http://farm2.staticflickr.com/1412/1264424156_24f4571b10_b.jpg') center center fixed no-repeat;
  /* Set background size to 100% for browsers that don't recognise cover */
  background-size: 100%;
  background-size: cover;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
  text-align: center;
  box-shadow: 12px 12px 16px #444444;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#textOut > p {
  font-size: 18px;
}

.addthis_toolbox {
  max-width: 380px;
  margin: 0 auto;
}
