html * {
    font-family: "Georgia", "Times New Roman", "serif"; 
}

p {
    font-size: 120%;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image:url('http://www.wikipronto.com/images/uploads/level_0/group_14/423124/merlin_mechanical_services_birmingham_ng.jpg');  
	background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
  text-align: center;
  box-shadow: 12px 12px 16px #444444;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
